* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
div {

}

.im {
    display: flex;
    justify-content: center;
    margin-left: 300px;
}
.im img {
    width: 50%;
    border: 1px solid black;
    border-radius: 100%;
}

table {
    background-color: lightgrey;
    padding: 2em;
    margin-top: 1em;
    margin-left: 509px;
}

table td {
    padding: 1em;    
}

ul li {
    list-style: number;
    margin-left: 30px;
    padding: 3px;
}
